.form-wrap{
    width: 60%;
}

.shadow {
    -webkit-box-shadow: 5px 5px 20px -3px rgba(0,0,0,0.61);
    -moz-box-shadow: 5px 5px 20px -3px rgba(0,0,0,0.61);        
    box-shadow: 5px 5px 20px -3px rgba(0,0,0,0.61);
}

.card.shadow { transition: all .2s ease-in-out; }
.card.shadow:hover { transform: scale(1.05); }